.page {
	position: relative;
	width: 944px;
	height: auto;
	margin: 0 auto;
	min-height: 100%;
	background-color: #FFF;
}

.page_header {
	position: relative;
	z-index: 0;
	width: 944px;
	height: 311px;
	padding-top: 40px;
	background: #FFF url(../design/page_header.gif) no-repeat right bottom;
}

.page_header_logo {
	display: block;
	position: absolute;
	z-index: 1;
	left: 28px;
	top: 52px;
	width: 140px;
	height: 94px;
	background: url(../design/rheinland-solar.gif) no-repeat left top;
	text-decoration: none;
}

.page_header_plusenergie {
	display: block;
	position: absolute;
	z-index: 1;
	left: 212px;
	top: 203px;
	width: 384px;
	height: 116px;
	background: url(../design/erstes-plus-energie-gewerbegebaeude-in-nrw.gif) no-repeat left top;
	text-decoration: none;
}

#page_header_slideshow {
	display: block;
	position: absolute;
	z-index: 1;
	left: 598px;
	top: 122px;
	width: 340px;
	height: 204px;
	background: no-repeat left top;
}

.page_header_slideshow_foto {
	display: block;
	position: absolute;
	width: 340px;
	height: 204px;
	filter:alpha(opacity=0); 
	-moz-opacity: 0; 
	background-color: rgba(255, 255, 255, 0); 
	-khtml-opacity: 0; 
	opacity: 0;
}

.page_header_jahre {
	position: absolute;
	z-index: 2;
	left: 598px;
	top: 122px;
	width: 148px;
	height: 47px;
	padding: 0 0 0 6px;
	background: #5379B7 url(../design/page_header_jahre.gif) no-repeat top left;
	color: #FFF;
	font-size: 40px;
	line-height: 40px;
}

.page_navi_left {
	position: absolute;
	left: 0px;
	/*bottom: 0;*/
	top: 259px;
	width: 204px;
	overflow: hidden;
}

.page_content {
	padding-bottom: 64px;
}

.page_content_lower {
	margin-top: 36px;
}

.page_footer {
	position: relative; 
	z-index: 2;
	clear: both;
	width: 944px;
	height: 62px;
	margin: -63px auto 0 auto;
}

.page_footer_infos {
	clear: left;
	margin: 0 0 0 206px;
	padding: 4px 0 15px 0;
	color: #5578BA;
	background: url(../design/page_footer.gif) repeat-x bottom;
	border-top: #B1C2DC 1px solid;
	font-size: 12px;
	line-height: 1.5em;
	text-align: left;
	letter-spacing: 0.04em;
}

.page_footer_infos a {
	color: #5578BA;
	text-decoration: none;
}

.page_footer_infos a:hover,
.page_footer_infos a:active {
	text-decoration: underline;
}



/* Link to top */

.page_link_top,
.content .page_link_top {
	position: relative;
	clear: both;
	margin: 30px 0 20px 0;
	border-bottom: #B1C2DC 1px dotted;
	text-align: right;
}

.page_link_top a,
.content .page_link_top a {
	position: absolute;
	top: -7px;
	right: 20px;
	padding: 0 16px 0 6px;
	background: #FFF url(../design/page_link_top_bg.gif) no-repeat right center;
	color: #1B5B9E;
	font-size: 10px;
	font-weight: normal !important;
	line-height: 14px;
	text-decoration: none;
	white-space: nowrap;
	zoom: 1;
}

.page_link_top a:hover,
.content a.page_link_top:hover {
	text-decoration: underline;
}

/* Offscreen */

.page_header_jahre_invisible,
.page_header_logo span,
.page_header_plusenergie span {
	position: absolute;
	left: -10000px;
}

