button {
	white-space: nowrap;
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.button_blue {
	position: relative;
	display: -moz-inline-box;
	display: inline-block;
	width: auto;
	height: 18px;
	overflow: visible;
	margin: 1px 0 0 0;
	padding: 0 8px;
	background-color: #5379b7;
	color: #FFF;
	border-top: #9cb2d5 1px solid;
	border-left: #9cb2d5 1px solid;
	border-bottom: #496aa0 1px solid;
	border-right: #496aa0 1px solid;
	font-size: 11px;
	line-height: 16px;
}
