@media screen {
	.div1 {
		display: block;
		width: 400px;
		height: 100px;
		margin: 10px;
		background-image: url(../../testcase3/images/normalstate.gif);
		background-repeat: repeat-x;
		color: #F66;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: bold;
		border: #CCC 1px solid;
	}
	
	.div1:hover {
		background-image: url(../../testcase3/images/hoverstate.gif);
		color: #66F;
	}
}

@media print {
	.div2 {
		display: block;
		width: 400px;
		height: 100px;
		margin: 10px;
		background-image: url(../../testcase3/images/bothstates.gif);
		background-repeat: repeat-x;
		background-position: left top;
		color: #F66;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: bold;
		border: #CCC 1px solid;
	}
	
	.div2:hover {
		background-position: left bottom;
		color: #66F;
	}
	
	.div2:hover * a {
		background-color: green;
	}
}

* html .div1 {
	width: 500px;
}