/**
 * Haupt-Stylesheet
 * 
 * Hauptstylesheet für Schmuckguru. Enthält die gesamte Gestaltung
 * inklusive der IE-Bugfixes in einer praktischen Datei.
 * 
 * @project Schmuckguru
 * @version 1.0
 * @author Peter Kröner
 * @copyright 2009 by Peter Kröner, Brainfire Design
 * 
 * @colordef #B5291B Orange (BG-Farbe)
 * @colordef #FFF; Weiß (Hintergrund)
 * @colordef #333333; Schwarz (Text)
 * @colordef #E86B27 Grelles Orange (Akzentfarbe, Links etc.)
 * @colordef #B65D2C Weniger grelles Orange (Besuchte Links)
 * @colordef #BA271B Dunkelorange
 * @colordef #F2D88B Sandgelb (Gelbe Boxen)
 * @colordef #66604E Sandgrau (Schrift für gelbe Boxen)
 * 
 */


/**
 * Screen-Styles
 * 
 * Enthält alle Styles, die alle Desktop-Browser betreffen. Bugfixes
 * für die Internet Explorer befinden sich in den entsprechenden Sektionen.
 * 
 * @section screen
 * @media screen, projection
 * 
 */
@media screen, projection {


	/**
	 * Allgemeines
	 * @subsection screen-basics
	 */
	body { background:#B5291B url(../img/bg_textur_bot.png) top center; color:#333; font-size:12px; font-family:Verdana, Arial, sans-serif; }
	strong { font-weight:bold; }
	b { font-weight:bold !important; }
	em, i { font-style:italic; }
	q { font-style:italic; }
		q:before, blockquote p:before { content:"\00AB"; }
		q:after, blockquote p:after { content:"\00BB"; }
			q q:before, blockquote p q:before { content:"\003C"; }
			q q:after, blockquote p q:before { content:"\003E"; }
	q em, blockquote p em { font-style:normal; }
	del, strike { text-decoration:line-through; }
	a { text-decoration:none; }


	/**
	 * Layout
	 * @subsection screen-layout
	 */
	#bg { background:url(../img/bg_textur_top2.png) top center repeat-x; position:relative; }
	#wrapper { background:transparent url(../img/page.png) center top repeat-y; }
	#page { background:#FFF url(../img/bg_tiles.png); width:960px; min-height:600px; margin:0 auto; }
	#header { position:relative; width:960px; margin:0 auto; padding-bottom:40px; }
	#content { text-align:left; padding-bottom:10px; }
	#side { padding-bottom:10px; }


	/**
	 * Framework-Klassen
	 * @subsection screen-framework
	 */
	.full { width:960px; }
	.huge { width:720px; }
	.wide { width:640px; }
	.halfwide { width:532px; }
	.half { width:480px; }
	.third { width:400px; }
	.medium { width:360px; }
	.halfhuge { width:340px; }
	.small { width:320px; }
	.mini { width:240px; }
	.micro { width:192px; }
	.halfmedium { width:180px; }
	.extranano { width:172px; } /* Für Crosssell */
	.nano { width:160px; }
	.piko { width:120px; }
	.femto { width:80px; }
	.atto { width:40px; }
	.full, .huge, .wide, .halfwide, .half, .third, .halfhuge, .medium, .small, .mini, .extranano, .micro, .halfmedium, .nano, .piko, .femto, .atto { float:left; }


	/**
	 * Textgestaltung
	 * @subsection screen-text
	 */
	p, ol, ul, dl { font-size:12px; line-height:1.5; padding:4px 16px; }
		ol li, ul li { padding:4px 0; }
	ol { list-style-type:decimal; padding-left:48px; }
	ul { list-style-type:square; padding-left:48px; }
		ul.nolist, ol.nolist { list-style-type:none; padding:0; }
	h2 { font-size:19px; padding:12px 16px; }
		h2.replaced { font-size:28px; padding-top:6px; padding-bottom:8px; }
		h2 span.prefix { color:#AAA; }
			h2 span.prefix a:link, h2 span.prefix a:visited { opacity:0.5; }
			h2 span.prefix a:hover, h2 span.prefix a:active { opacity:1.0; }
	h3 { font-size:17px; padding:12px 16px; }
		h3.replaced { font-size:22px; padding-bottom:8px; }
	h4 { font-size:14px; font-weight:bold; line-height:1.3; padding:12px 16px; }
	h5 { font-size:12px; font-weight:bold; line-height:1.3; padding:12px 16px; }
	h6 { font-size:10px; line-height:1.3; padding:12px 16px; }
	blockquote { font-style:italic; margin-left:32px; }
	pre { font-family:monospace; }
	code { font-family:monospace; }
	dl dt { font-weight:bold; padding:4px 0; }
	dl dd { padding:4px 0; }
	table { line-height:1.5; margin:8px 0; }
		table th, table td { text-align:left; border:1px solid #000; padding:4px; } 
		table th { font-weight:bold; }
	a { border-bottom:1px solid transparent; }
		a:link { color:#EE7F38; border-color:#EE7F38; border-style:solid; }
		a:visited { color:#EE7F38; border-color:#E86B27; border-style:dotted; }
		a:hover { color:#FFF; border-color:transparent; }
		a:active { color:#FFF; border-color:#FFF; border-style:solid; }
		a:focus { outline:1px dotted #CCC; }


	/**
	 * Formulare
	 * @subsection screen-forms
	 */
	fieldset {  }
		fieldset p { margin:8px 0; }
	input, select, textarea { background:#fef9ea; color:#5E3C2A; border:1px solid #969696; font-weight:bold; width:98.5%; padding:4px 2px 3px 2px; }
		input[type = submit], input[type = button], input[type = checkbox], input[type = radio] { cursor:pointer; }
	label { color:#5d5d5d; display:block; padding-bottom:4px; }
		label input { width:auto; }
	p.required { color:#fff5d9; }
	.white label { color:#5d5d5d; }
	.white input, .white select, .white textarea { background:#fef9ea; color:#5E3C2A; border:1px solid #969696; }
	.green label { color:#333; }
	.green input, .green select, .green textarea { background:#f7ffcb; color:#333; border:1px solid #f7ffcb; }
	.dark label { color:#fff5d9; }
	.dark input, .dark select, .dark textarea { background:#fef9ea; color:#5E3C2A; border:1px solid #FFF6DD; }
	.range input, .range select, .range textarea { width:25%; float:left; }
	.range span { width:15%; text-align:center; float:left; }
	p.submit { padding:0 30px; }
	input.small { width:auto; }
	.form-payment { padding:0 12px 2px 0; margin-top:-16px; }
	input.disabled { background:url(../img/inaktiv_tile.png); border-color:#B0B0B0; color:#333; }
	span.tooLong { font-weight:bold; color:#E00; }


	/**
	 * Buttons
	 * @subsection screen-buttons
	 */
	.button { border:none !important; font-weight:bold; cursor:pointer; background:#E86B27 url(../img/button2.png) center left repeat-x; display:inline-block; padding:0 4px; }
		.button, .button:link, .button:visited { color:#FFF; }
		.button:hover, .button:active { color:#FFF; }
	a.button { color:#FFF !important; }
	a.button-replaced, span.button-replaced { font-weight:normal; font-size:18px; padding-top:0; }
	button span.button-replaced { font-weight:normal; font-size:18px; line-height:1.35; }
		a.button span.cufon, span.button span.cufon { margin-top:-4px; }


	/**
	 * Spezial-Buttons
	 * @subsection screen-buttons-special
	 */
	.rss,
	.rss:link, .rss:visited,
	.rss:hover, .rss:active { border:none !important; background:transparent url(../img/rss_icon.png) center left no-repeat; display:block; float:left; height:27px; width:128px; margin:8px 0; }
		.rss span { display:block; height:0; width:0; overflow:hidden; }
	.rsslist .rss { margin:-4px 8px 0 4px; }
	span.out-of-stock { background:url(../img/ausverkauft.png) center left repeat-x; display:inline-block; height:27px; width:134px; position:relative; top:-8px; padding:0; }
		span.out-of-stock span { display:block; height:0; width:0; overflow:hidden; }
	.checkoutbutton { background:url(../img/zurkasse_button.png) center left repeat-x; cursor:pointer; display:inline-block; height:27px; width:88px; border:none !important; padding:0; margin-left:4px; }
	.checkoutbutton2 { background:url(../img/zurkasse_button2.png) center left repeat-x; cursor:pointer; display:inline-block; height:69px; width:195px; border:none !important; position:relative; top:-21px; padding:0; margin:8px -16px -16px 0 ; }
		.checkoutbutton span, .checkoutbutton2 span { display:block; height:0; width:0; overflow:hidden; }
	#bookmark-button { background:url(../img/bookmark.png); cursor:pointer; display:inline-block; height:27px; width:89px; border:none; }
			#bookmark-button span { display:block; height:0; width:0; overflow:hidden; }
	.emailbutton { background:url(../img/emailbutton.png) center left repeat-x; cursor:pointer; display:inline-block; height:27px; width:75px; border:none !important; margin:0; padding:0; }
		.emailbutton span { display:block; height:0; width:0; overflow:hidden; }
	.removeemailbutton { background:url(../img/empf_entfernen.png) center left repeat-x; cursor:pointer; display:inline-block; height:27px; width:146px; border:none !important; cursor:pointer; margin:0 16px 0 0; padding:0; }
		.removeemailbutton span { display:block; height:0; width:0; overflow:hidden; }
	.orderbutton { background:url(../img/best-aufg_button.png) center left repeat-x; cursor:pointer; display:inline-block; height:69px; width:276px; border:none !important; position:relative; top:-21px; padding:0; margin-top:32px; }
		.orderbutton span { display:block; height:0; width:0; overflow:hidden; }
	.cartbutton { background:url(../img/indenkorb.png) center left repeat-x; cursor:pointer; display:inline-block; height:27px; width:134px; border:none !important; padding:0; }
	.cartbutton-small { background:url(../img/indenkorb_klein.png) center left repeat-x; cursor:pointer; display:inline-block; height:27px; width:130px; border:none !important; padding:0; }
		.cartbutton span, .cartbutton-small span { display:block; height:0; width:0; overflow:hidden; }


	/**
	 * Icons
	 * @subsection screen-icon
	 */
	img.icon { position:relative; top:3px; border:none !important; }
	a.icon { border:none !important; }


	/**
	 * Tooltips
	 * @subsection screen-tips
	 */
	div.tip-container { z-index:9999999; }
		div.tip-container div.tip { text-align:left; background:#222; color:#FFF; padding:10px; }
			div.tip-container div.tip div.tip-text { display:none; }


	/**
	 * Warnmeldungen und andere Nachrichten
	 * @subsection screen-messages
	 */
	ul.messages { list-style-type:none; float:left; width:710px; margin:0; padding:0; }
		ul.messages li { margin:10px 0 0 0; }
		ul.messages li.error-msg { font-weight:bold; background:#FFF url(../img/ausrufezeichen.png) 16px center no-repeat; border:10px solid #B5291B; }
		ul.messages li.notice-msg { font-weight:bold; background:#FFF url(../img/ausrufezeichen2.png) 16px center no-repeat; border:10px solid #F2D88B; }
		ul.messages li.success-msg { font-weight:bold; background:#FFF url(../img/smiley.png) 16px center no-repeat; border:10px solid #BFD05F; }
			ul.messages li ul { list-style:none; padding-left:52px; margin:4px 0; }
			ul.messages li ul.replaced { font-weight:normal; line-height:1; font-size:22px; }
				ul.messages li ul li { margin:0; }


	/**
	 * Header
	 * @subsection screen-headline
	 */
	h1 a { display:block; height:140px; width:461px; float:left; margin:0 0 12px 0; }
		h1 a:link, h1 a:visited, h1 a:active, h1 a:hover { border:none; background:#FFF url(../img/header.png) center left no-repeat; }
		h1 a span { display:block; width:0; height:0; overflow:hidden; }
	#topbox { position:absolute; top:32px; right:-10px; z-index:1000; }
		#topbox a:hover { color:#000; }
		#topbox a:active { color:#000; border-color:#000; }


		/**
		 * Headerboxen
		 * @subsubsubsection screen-headerbox
		 */
		#topbox .headbox { text-align:left; position:relative; z-index:3; height:98px; margin:10px 10px 10px 0; background:#FFF; }
			#topbox .headbox h2 { height:31px; margin:0; padding:0; }
			#topbox #loginbox h2 { background:url(../img/login_special.png) center left no-repeat; }
			#topbox #cartbox h2 { background:url(../img/warenkorb_special.png) center left no-repeat; }
			#topbox #logoutbox h2 { background:url(../img/willkommen.png) center left no-repeat; }
				#topbox #loginbox h2 a, #topbox #cartbox h2 a, #topbox #logoutbox h2 a { border:none; display:block; height:31px; }
			#topbox .headbox p, #topbox .headbox fieldset { margin:0 8px 8px 8px; padding:0; }
			#topbox div.slidecontainer { position:absolute; z-index:3; top:98px; left:0; z-index:10; width:240px; }
			#topbox div.slidebox div.slidecontainer div.slide div.slidecontent { background:#FFF; border:10px solid #E86B27; border-top:none; padding-top:8px; }
			#topbox div.slidelink { background:#E86B27 url(../img/drop_arrow.png) 216px -40px no-repeat; color:#FFF; cursor:pointer; position:absolute; bottom:0; left:0; width:224px; padding:8px; margin:0; }
			#topbox div.open { background-position:216px 4px; }
		#topbox .cart-price { color:#333; }


		/**
		 * Headerboxen ohne JS
		 * @subsubsubsection screen-headerbox-nojs
		 */
		.nojs #topbox { position:static; }
		.nojs #topbox #cartbox { height:auto; float:right; margin:32px 10px 10px 0; }
		.nojs #topbox #loginbox { height:auto; float:right; margin:32px 0 10px 0; }
		.nojs #topbox #logoutbox { height:auto; float:right; margin:32px 0 10px 0; }
		.nojs #topbox .headbox div.slidecontainer { display:none; top:34px; background:#FFF; }
		.nojs #topbox .headbox:hover div.slidecontainer { display:block; }


		/**
		 * Währunsswitcher
		 * @subsubsection screen-currency
		 */
		#currency { list-style:none; position:absolute; background:url(../img/muenzen.png) center left no-repeat; bottom:-4px; right:10px; z-index:1; margin:0; padding:0 0 0 24px; }
			#currency ul.replaced { top:33px !important; }
			#currency li { position:relative; z-index:1; }
				#currency li a:link, #currency li a:visited, #currency li span.active { color:#333; background:#F2D88B; font-size:18px; text-align:left; border-bottom:none; display:block; width:32px; padding:2px 8px 2px 10px; }
				#currency li a:hover, #currency li a:active { color:#000; background:#F2D88B; }
				#currency li ul { display:none; list-style:none; position:absolute; bottom:0; right:0; z-index:1337; margin:0; padding:0; }
				#currency li:hover ul { display:block; }
			#currency a.replaced, #currency span.replaced { font-size:22px !important; line-height:27px !important; padding-bottom:4px !important; }
		.nojs #currency li a, .nojs #currency li span { padding-bottom:4px; } /* Rückt den Währungswähler in die exakte Position */


	/**
	 * Footer
	 * @subsection screen-footer
	 */
	#footer { background:url(../img/footer.png) top left no-repeat; width:960px; margin:10px auto 0 auto; padding:20px 0 10px 0; }
		#footer ul { list-style:none; margin:0; padding:12px; }
			#footer ul li { display:inline; margin:0 8px; padding:0; }
		#footer p { text-align:center; margin:0; padding:12px; }
		#footer img { position:relative; left:-5px; }
		#footer a:hover { color:#000; }
		#footer a:active { color:#000; border-color:#000; }
		#footer a.imagelink { border:none; }
		#footer p.center a { border:none !important; }
			#footer p.center a:link img, #footer p.center a:visited img { opacity:0.5; }
			#footer p.center a:hover img, #footer p.center a:active img { opacity:1.0; }
		#footertext { font-size:0.9em; line-height:2; }


	/**
	 * Hauptnavigation
	 * @subsection screen-navi
	 */
	#navicontainer { background:#333; width:940px; border-top:10px solid #FFF; border-left:10px solid #FFF; border-right:10px solid #FFF; position:absolute; bottom:0; left:0; z-index:1000; margin:0; padding:0; }
	#navicontainer ul.replaced { top:33px; }
	#navi { font-family:Arial, Verdana, sans-serif; list-style:none; margin:0; padding:0; }
		#navi li { position:relative; float:left; margin:0; padding:0; }
			#navi li a { font-size:18px; text-align:left; border-bottom:none; border-left:10px solid #333; display:block; padding:2px 8px 4px 8px; }
				#navi li a.replaced { font-size:22px; line-height:27px; padding-bottom:4px; }
			#navi #nav-start { border-right:10px solid #FFF; width:220px; }
			#navi li a:link, #navi li a:visited { color:#F2D88B; background:#333; border-color:#333; }
			#navi li:hover a:link, #navi li:hover a:visited, #navi li a:active, #navi li a:hover { color:#F2D88B; background:#555; border-color:#F2D88B; }
			#navi li a.active:link, #navi li a.active:visited { color:#FFF; background:#E86B27; border-color:#E86B27; }
			#navi li a.active:active, #navi li a.active:hover { color:#FFF; background:#E86B27; border-color:#E86B27; }
		#navi li ul { display:none; list-style:none; width:100%; position:absolute; top:31px; left:0; z-index:1000; margin:0; padding:0; }
		#navi li:hover ul { display:block; }
			#navi li ul li { float:none; }
				#navi li ul li a:link, #navi li ul li a:visited { color:#000; }
				#navi li:hover ul li a:link, #navi li:hover ul li a:visited { color:#000; background:#FFF; background:rgba(255, 255, 255, 0.9); border-color:#F2D88B; }
				#navi li:hover ul li a:active, #navi li:hover ul li a:hover { color:#000; background:#F2D88B; border-color:#F2D88B; }
		#navi li#myguru-navigation a { padding-right:56px; }
	.nojs #navi li ul { top:33px; }	/* Rückt die Subnavis in exakt die richtige Position */


	/**
	 * Inhalt der Sidebar
	 * @subsection screen-sidebar
	 */
	#side #categories-navigation { display:none; }
	#side div.boxcontainer { margin:0 0 10px 10px; }
	#side #categories { background:#333; list-style-type:none; font-family:Arial, Verdana, sans-serif; font-size:18px; margin:10px; padding:0; }
		#side #categories .replaced-big { font-size: 22px !important; line-height:27px !important; padding-bottom:6px !important; }
		#side #categories .replaced-small { font-size: 18px !important; line-height:22px !important; padding-bottom:6px !important; }
		#side #categories li { display:inline; margin:0; padding:0; }
			#side #categories li ul { margin:0; padding:0; }
			#side #categories li span.current { display:block; padding:2px 6px; border-left:10px solid #E86B27; background:#E86B27; color:#FFF; border-bottom:none; }
			#side #categories li a { display:block; padding:2px 6px; border-left:10px solid; border-bottom:none; }
				#side #categories a:link { color:#F2D88B; background:#333; border-color:#333; }
				#side #categories a:visited { color:#F2D88B; background:#333; border-color:#333; }
				#side #categories a:hover { color:#F2D88B; background:#555; border-color:#F2D88B; }
				#side #categories a:active { color:#F2D88B; background:#555; border-color:#F2D88B; }
					#side #categories a.active:link,
					#side #categories a.active:visited,
					#side #categories a.active:hover,
					#side #categories a.active:active { color:#FFF; background:#E86B27; font-weight:bold; border-color:#E86B27; }
					#side #categories a.subcat-active:link,
					#side #categories a.subcat-active:visited,
					#side #categories a.subcat-active:hover,
					#side #categories a.subcat-active:active { color:#000; background:#FFF; font-weight:bold; border-color:#E86B27; }
				#side #categories ul a:link { color:#000; background:#FFF; border-color:#E86B27; }
				#side #categories ul a:visited { color:#000; background:#FFF; border-color:#E86B27; }
				#side #categories ul a:hover { color:#000; background:#F2D88B; border-color:#E86B27; }
				#side #categories ul a:active { color:#000; background:#F2D88B; border-color:#E86B27; }
					#side #categories ul a.active.active:link,
					#side #categories ul a.active.active:visited,
					#side #categories ul a.active.active:hover,
					#side #categories ul a.active.active:active { color:#FFF; background:#E86B27; font-weight:bold; }
		#side #categories .layered-nav { background:#FFF; color:#000; border-right:10px solid #E86B27;  border-bottom:10px solid #E86B27; border-left:10px solid #E86B27; }
		#side #categories .layered-nav { border-left:10px solid #E86B27; background:#FFF; }
			#side #categories .layered-nav dl, #side #categories .layered-nav ol.currently { padding:16px 8px; }
			#side #categories .layered-nav ol { padding:0; }
				#side #categories .layered-nav ol li { display:block; margin:2px 0; }
			#side #categories .layered-nav a { border-left:none !important; border-bottom:1px solid; display:inline; padding:0; }
			#side #categories .layered-nav a:link { color:#EE7F38; background:none; border-color:#EE7F38; border-style:solid; }
			#side #categories .layered-nav a:visited { color:#EE7F38; background:none; border-color:#E86B27; border-style:dotted; }
			#side #categories .layered-nav a:hover { color:#000; background:none; border-color:transparent; }
			#side #categories .layered-nav a:active { color:#000; background:none; border-color:#FFF; border-style:solid; }
			#side #categories .layered-nav a:focus { outline:1px dotted #CCC; }
			#side #categories .layered-nav p { margin:0 8px; padding:8px 0; }
			#side #categories .layered-nav p.filter-title { font-weight:bold; margin-bottom:-16px; }
			#side #categories .layered-nav p.clear-all { margin-top:-16px; }
			#side #categories .layered-nav dl dt { font-weight:normal; margin:0; padding:0; }
			#side #categories .layered-nav dl dd { margin:0 0 8px 0; padding:0; }


		/**
		 * Formulare in der Sidebar
		 * @subsection screen-sidebar-forms
		 */
		#search_mini_form input, #newsletter-validate-detail input { width:55%; float:left; }
		#search_mini_form .button, #newsletter-validate-detail .button { width:40%; }


		/**
		 * Social-Media-Stuff
		 * @subsection screen-sidebar-socialmedia
		 */
		#socialmedia a { background:url(../img/icons/icons-sprite.png) 0 0 no-repeat; outline:none; text-indent:-1337px; border:none; display:block; width:36px; height:36px; float:left; margin:0 0 0 10px; }
			#socialmedia #smlfb { background-position:0 0; }
			#socialmedia #smlmw { background-position:-36px 0; }
			#socialmedia #smldg { background-position:-72px 0; }
			#socialmedia #smltw { background-position:-108px 0; }
			#socialmedia #smlfa { background-position:-144px 0; }


	/**
	 * Allgemeine Content-Boxen
	 * @subsection screen-boxes-common
	 */
	.boxcontainer .box { margin:10px 10px 0 0; padding-bottom:8px; }
	.totop { margin-top:0 !important; }
	.white { background:#FFF; }
		.white a:hover { color:#000; }
		.white a:active { color:#000; border-color:#000; }
	.red { background:#B5291B; }
	.yellow { background:#F2D88B; color:#66604E; }
	.dark { background:#333; color:#CEC098; }
	.green { background:#BFD05F; color:#FFF; }


	/**
	 * Spezialstyling für Shopelemente
	 * @subsection screen-shop
	 */


		/**
		 * Headerlinks
		 * @subsubsection screen-shop-headerlinks
		 */
		#header .links { color:#CCC; font-size:10px; position:absolute; top:8px; right:10px; z-index:10; padding:0; }
			#header .links li { display:inline; list-style:none; }
				#header .links li:after { content:" | "; }
				#header .links li.last:after { content:""; }
				/*#header .links a:link, #header .links a:visited { color:#FFF; border-color:#FFF; }*/
				#header .links a:hover { color:#FFF; border-color:transparent; }
				#header .links a:active { color:#FFF; border-color:#FFF; }


		/**
		 * Breadcrumbs
		 * @subsubsection screen-shop-breadcrumbs
		 */
		#breadcrumbs div.box { padding:4px 8px; }
		#breadcrumbs ul, #breadcrumbs ul li { display:inline; list-style:none; margin:0; padding:0; }


		/**
		 * Vergleichsliste in der Sidebar
		 * @subsubsection screen-sidebar-compare-items
		 */
		#compare-items { list-style:none; padding:4px 16px; }
			#compare-items li { clear:both; }
				#compare-items li img.compare-product { float:left; margin:4px 10px 4px 0; }


		/**
		 * Tagcloud
		 * @subsubsection screen-shop-tagcloud
		 */
		.tags-cloud { font-size:1.3em; text-align:center; list-style:none; padding-left:16px; }
		.tags-list { list-style:none; padding-left:16px; }
			.tags-cloud li, .tags-list li { display:inline; list-style:none; }


		/**
		 * Erweiterte Katalogsuche
		 * @subsubsection screen-shop-advsearch
		 */
		.advsearch { background:#333 url(../img/suchguru.png) 480px 32px no-repeat; }


		/**
		 * Sitemap
		 * @subsubsection screen-shop-sitemap
		 */
		.sitemap { list-style:none; }
		.catalog-seo-sitemap-product .sitemap li { background:url(../img/aufzaehlpunkt.png) center left no-repeat; padding-left:12px; }


		/**
		 * Fehler 404
		 * @subsubsection screen-shop-error404
		 */
		#fehler404 { background:url(../img/404.png) top right no-repeat; padding-right:240px; }


		/**
		 * Startkategorie
		 * @subsubsection screen-start-category
		 */
		.startcat { position:relative; padding-top:160px; }
			.startcat img { position:absolute; top:10px; left:10px; height:150px; width:150px; }


		/**
		 * Hauptkategorie
		 * @subsubsection screen-main-category
		 */
		.maincat { position:relative; padding-top:220px; }
			.maincat img { position:absolute; background:#FFF; top:10px; left:10px; height:210px; width:210px; }
		.bigcat { position:relative; padding-top:340px; }
			.bigcat img { position:absolute; background:#FFF; top:10px; left:10px; height:330px; width:330px; }


		/**
		 * Kategoriebeschreibung und Toolbar
		 * @subsubsection screen-main-toolbar
		 */
		.toolbar-box { padding:4px 16px; }
			.toolbar-box select { width:auto; }
		div.amount { padding:16px; }
			div.amount div.pages { display:inline; }


		/**
		 * Produktliste
		 * @subsubsection screen-main-productlist
		 */
		.product-image { background:#FFF; }
		.product-box .box { position:relative; padding-top:232px; }
		.product-box .box .product-image { position:absolute; top:10px; left:10px; z-index:1; }
		.product-specs .add-to { display:none; }
		strong.new { height:39px; width:90px; background:url(../img/neu.png) bottom right no-repeat; position:absolute; top:181px; right:10px; z-index:100000; margin:0; }
			strong.new span { display:block; height:0; width:0; overflow:hidden; }


		/**
		 * Wunschzettel
		 * @subsubsection screen-main-wishlist
		 */
		.wishlist-box img.product-image { margin:10px; }
		.wishlist-box a.product-image { background:none; border:none; }
		


		/**
		 * Vergleichsliste
		 * @subsubsection screen-main-comparelist
		 */
		table.product-comparison { margin-top:10px; margin-bottom:10px; border-collapse:separate; }
			table.product-comparison th { text-align:right; border:none; width:160px; padding:4px 20px 4px 0; }
			table.product-comparison td { border:none; border-right:10px solid #FFF; width:170px; padding:4px 0; }
				table.product-comparison td a.product-image { border:none; background:none; }
				table.product-comparison td img.product-image { margin:6px 10px 0 10px; }
				table.product-comparison td .price-box { text-align:left; }


		/**
		 * Login
		 * @subsection screen-main-login
		 */
		.newcustomer { background:url(../img/guru_shine.png) bottom center no-repeat; }
			.newcustomer p.center { padding:128px 0 0 0; }


		/**
		 * Warenkorb-Tabelle
		 * @subsection screen-main-cart-table
		 */
		#shopping-cart-form { clear:both; padding:0; }
		table.cart-table { margin:10px; width:auto; border-collapse:separate; }
			table.cart-table th { border:none; padding:10px; }
			table.cart-table td { vertical-align:top; border:none; border-bottom:10px solid #FFF; padding:10px; }
				table.cart-table td h3, table.cart-table td p { padding-left:0; padding-right:0; padding-top:0; }
				table.cart-table td a.product-image { border:none; background:none; }
				table.cart-table td img.product-image { background:#FFF; }
			table.cart-table td.image { width:80px; }
			table.cart-table td.name { width:220px; }
			table.cart-table td.price { padding-left:0; width:115px; }
				table.cart-table td.price div.cart-price { text-align:left; }
			table.cart-table td.qty { width:60px; }
			table.cart-table a:link { color:#EE7F38; border-color:#EE7F38; border-style:solid; }
			table.cart-table a:visited { color:#EE7F38; border-color:#E86B27; border-style:dotted; }
			table.cart-table a:hover { color:#FFF; border-color:transparent; }
			table.cart-table a:active { color:#FFF; border-color:#FFF; border-style:solid; }
		table.shopping-cart-totals-table { float:right; margin:0 10px 10px 10px; }
			table.shopping-cart-totals-table td, table.shopping-cart-totals-table th { border:none; }
			table.shopping-cart-totals-table th.title { width:200px; }
			table.shopping-cart-totals-table td.price { font-size:19px; padding-left:0; width:115px; }
		.crosssell { padding-bottom:10px; }
		.crosssell .rowwrapper { margin:10px; }
		.crosssell .add-to-links li { display:block; }
		.crosssell a.product-image { border:none; background:none; }
		.crosssell img.product-image { margin:10px; }
		.discount { border:10px solid #F2D88B; }
		table.cart-table .order-item-row td, table.cart-table .order-totals-row td { vertical-align:middle; }
			table.cart-table .order-item-row td .cart-price, table.cart-table .order-totals-row td .cart-price { margin:-4px 0 0 0; padding:0; }
			table.cart-table .order-item-row td h4 { margin:0; padding:0; }


		/**
		 * Multi-Checkout-Tabelle
		 * @subsection screen-main-multicheckout-table
		 */
		.checkout-progress .active { font-weight:bold; }
		table.multiship-addresses-table { margin:10px; width:auto; border-collapse:separate; width:97%; }
			table.multiship-addresses-table th { border:none; padding:10px; }
			table.multiship-addresses-table td { vertical-align:top; border:none; border-bottom:10px solid #FFF; padding:10px; }
			table.multiship-addresses-table h4, table.multiship-addresses-table p { padding:0; }


		/**
		 * Checkout-Erfolg
		 * @subsection screen-main-multicheckout-success
		 */
		#checkoutguru { text-align:center; padding-top:200px; background:url(../img/einkauf_abgeschlossen_bg.png) top center no-repeat; }


		/**
		 * Meine-Bestellungen-Tabelle
		 * @subsection screen-main-sales-table
		 */
		table.order-table { margin:16px; width:95.5%; }
			table.order-table th { border-color:#333; }
			table.order-table td { border-color:#333; background:#575757; color:#E6EAD6; }


		/**
		 * Produktansicht
		 * @subsubsection screen-productview
		 */
		.product-view { position:relative; }
		.product-view .recommend { list-style:none; padding-left:16px; }
			.product-view .recommend li { display:inline; }
				.product-view .recommend li a { height:28px; width:28px; text-indent:-9000px; outline:none; border:none; background:url(../img/icons/small/icons-sprite-klein.png) 0 0 no-repeat; display:block; float:left; margin:0 6px 0 0; }
				.product-view .recommend li.last a { margin:0; }
					.product-view .recommend li a.psmfb { background-position:0 0; }
					.product-view .recommend li a.psmmw { background-position:-28px 0; }
					.product-view .recommend li a.psmdg { background-position:-56px 0; }
					.product-view .recommend li a.psmtw { background-position:-84px 0; }
					.product-view .recommend li a.psmem { background-position:-140px 0; }
					.product-view .recommend li a.psmfa { background-position:-112px 0; }
		.product-view .add-to-cart input { float:left; width:25%; }
			.product-view .add-to-cart .cartbutton, .product-view .add-to-cart .out-of-stock { float:right; }
		.product-view #product-attribute-specs dt { float:left; clear:right; }
		.product-view #product-attribute-specs dt:after { content:":"; }
		.product-view #product-attribute-specs dd { display:block; width:50%; float:right; }
		.product-view .mediacontainer { width:200px; position:relative; float:left; }
		.product-view .more-views ul { list-style:none; margin:0; padding:0; }
			.product-view .more-views ul li { display:inline; }
				.product-view .more-views ul li a { border:none; display:block; float:left; margin:3px; padding:0; }
					.product-view .more-views ul li a img { height:40px; width:40px; background:#FFF; border:2px solid transparent; }
					.product-view .more-views ul li a:active img, .product-view .more-views ul li a:hover img, .product-view .more-views ul li a:focus img { border-color:#CCC; outline:none !important; }
					.product-view .more-views ul li a.active img { border-color:#E86B27; }
		#product-image-link { border:none; cursor:default; }
		.imageZoom { border:10px solid #CCC; background:#FFF; position:absolute; top:0; left:200px; z-index:9999; }
		.imageZoomZoomer { border:2px solid #CCC; background:url(../img/lupe_icon.png) 4px 4px no-repeat; cursor:move; }


		/**
		 * Facebook-Button
		 * @subsubsection screen-facebookbutton
		 */
		iframes.facebookbutton { display:block; margin:12px; }


		/**
		 * Produktansicht/Bundle
		 * @subsubsection screen-productview-bundle
		 */
		.bundle-item-list dd.select { margin-bottom:12px; }


		/**
		 * Produktansicht/Upsell
		 * @subsubsection screen-productview-upsell
		 */
		.upsell { padding-bottom:10px; }
		.upsell .rowwrapper { margin:10px; }
		.upsell .add-to-links li { display:block; }
		.upsell a.product-image { border:none; background:none; }
		.upsell img.product-image { margin:10px; }


		/**
		 * Produktoptions-Listen
		 * @subsubsection screen-productoptions-list
		 */
		dl.item-options { padding-left:0; }
			dl.item-options dt {  }
			dl.item-options dt:after { content:":"; }
			dl.item-options dd {  }


		/**
		 * Countdown-Produkt auf der Startseite
		 * @subsubsection screen-countdown
		 */
		#countdown { position:relative; margin-bottom:-8px; z-index:0; }
			#countdown div.countdown-product { color:#FFF; }
			#countdown div.title { background:#333; }
			#countdown div.image { width:150px; background:#FFF; float:right; position:relative; z-index:0; border:10px solid #B5291B; }
				#countdown div.image a { border:none; background:none; }
				#countdown div.image a.sign { background:url(../img/aktion.png) center center no-repeat; position:absolute; bottom:0; right:0; height:48px; width:100px; }
				#countdown div.image a.sign2 { background:url(../img/aktion2.png) center center no-repeat; position:absolute; top:0; right:0; height:48px; width:100px; }
					#countdown div.image a.sign span, #countdown div.image a.sign2 span { display:block; height:0; width:0; overflow:hidden; }
			#countdown div.text { width:180px; float:left; }
			#countdown h2 { margin:4px 0; }
			#countdown p.timer { background:#B5291B url(../img/clock.png) center left no-repeat; font-size:26px; padding-left:52px; }
			#countdown .price-box { text-align:left; padding-left:16px; }
			#countdown .price-label { display:none; }
			#countdown .old-price { font-size:15px; }
			#countdown .special-price { font-size:26px; font-weight:bold; text-decoration:underline; margin-top:-10px; }
				#countdown .special-price span { color:#FFF; }
			#countdown div.fallback div.image { width:150px; float:right; border:none; margin:10px; }
			#countdown div.fallback .regular-price { font-size:24px; font-weight:bold; margin:16px 0 0 0; }


		/**
		 * Beads-Box auf der Startseite
		 * @subsubsection screen-beadsbox
		 */
		div.beadsbox { position:relative; z-index:0; height:160px; border:10px solid #333; background:#FFF url(/media/komplettsets.jpg) center center no-repeat; }
			div.beadsbox .calloutbox { background:url(../img/tribles_grey.png) top left no-repeat; position:absolute; bottom:0; right:0; z-index:2000000; padding:40px 0 0 80px }
				div.beadsbox .calloutbox h2 { background:#333; font-size:24px; width:130px; -moz-border-radius-topleft:16px; -webkit-border-top-left-radius:16px; }
					div.beadsbox .calloutbox h2 a:link, div.beadsbox .calloutbox h2 a:visited { color:#F2D88B; border-color:#F2D88B; }
					div.beadsbox .calloutbox h2 a:active, div.beadsbox .calloutbox h2 a:hover { color:#FFF; border-color:transparent; }
		.nojs div.beadsbox .calloutbox h2 { font-size:18px !important; } /* Schriftgrößen-Ausgleich */


		/**
		 * Foto-Box auf der Startseite
		 * @subsubsection screen-fotobox
		 */
		div.startbox { position:relative; border:10px solid #333; background:#FFF url(/media/slide1.jpg) bottom left no-repeat; min-height:344px; }
			div.startbox p { color:#FFF; background:#333; font-size:19px; position:absolute; top:-10px; left:0; z-index:1338; width:298px; padding-top:0; }
			div.startbox .calloutbox { background:url(../img/tribles_grey.png) top left no-repeat; position:absolute; bottom:0; right:0; z-index:200000; padding:40px 0 0 80px }
				div.startbox .calloutbox h2 { background:#333; font-size:24px; width:130px; -moz-border-radius-topleft:16px; -webkit-border-top-left-radius:16px; }
				div.startbox .calloutbox h2 a:link, div.startbox .calloutbox h2 a:visited { color:#F2D88B; border-color:#F2D88B; }
				div.startbox .calloutbox h2 a:active, div.startbox .calloutbox h2 a:hover { color:#FFF; border-color:transparent; }
		.nojs div.startbox .calloutbox h2 { font-size:18px !important; } /* Schriftgrößen-Ausgleich */


		/**
		 * Pager und so
		 * @subsection screen-pager
		 */
		.pages {  }
			.pages ol { list-style:none; display:inline; padding:0; }
				.pages ol li { display:inline; }
			.pages .inactive { color:#555; }
			.pages span.current, .pages a { font-weight:bold; text-align:center; display:inline-block; width:1em; margin:0 2px; padding:0; }
		.pager fieldset.limiter label, .pager fieldset.limiter select { display:inline; width:auto; }


	/**
	 * Kopf einer Kategorieseite
	 * @subsection screen-categoryhead
	 */
	.categoryhead h2 { float:left; width:auto; }
	.categoryhead p {  }



	/**
	 * Preise
	 * @subsection screen-classes
	 */
	.price-box,
	.cart-price,
	table.multiship-addresses-table span.price,
	td.price span.price { font-size:20px; color:#FFF; text-align:left; padding:4px 16px; }
	td.price-rebate span.price { font-size:20px; color:#A9D05F !important; text-align:left; padding:4px 16px; }
		.price-box p { font-size:20px; margin:0; padding:0; }
		.price-box .old-price { color:#a0a0a0; text-decoration:line-through; }
		.price-box .special-price .price { font-weight:bold; color:#FFD69B; }
		span.rebate-notice strong { font-weight:bold; color:#FFD69B; } /* Rabatte in den Bundles */
	table.shopping-cart-totals-table td span.price { color:#333; }
	body.checkout-cart-index table.shopping-cart-totals-table span.price { color:#FFF; }


	/**
	 * Universal-Klassen
	 * @subsection screen-classes
	 */
	div.pager { padding:16px; }
		div.pager p { padding-left:0; padding-right:0; }
	ul.add-to-links { list-style:none; padding:4px 16px 12px 16px; }
		ul.add-to-links li { display:inline; }


	/**
	 * Partnerlink
	 * @subsection screen-partnerlink
	 */
	img.partner { float:right; margin:-32px 0 0 32px; }


	/*
	 * Payment Subsections
	 * @subesection payment
	 */
	div.paymentsubsection { padding-left:20px; }
		div.paymentsubsection ul { padding-left:12px; list-style:none; }


	/**
	 * Rollover
	 * @subsection screen-effect-rollover
	 */
	.imageRollover-overlay { background:#FFF; }
	.imageRollover-contentContainer { color:#000; }
		.imageRollover-contentContainer a:hover, .imageRollover-contentContainer a:active { color:#000; }
		.imageRollover-contentContainer .product-specs .add-to { display:block; }
		.imageRollover-contentContainer p { font-size:10px; }
		.imageRollover-contentContainer ul { font-size:10px; padding-left:16px; padding-right:16px; }
		.imageRollover-contentContainer img.thumbnail { background:#FFF; height:80px; width:80px; float:right; margin:0 0 5px 5px; }
	.product-new .imageRollover-outerContainer { border:10px solid #BFD05F; top:0 !important; left:0 !important; }


	/**
	 * Squeezebox
	 * @subsection screen-squeezebox
	 */
	#sbox-overlay { background-color:#000; position:absolute; left:0px; top:0px; zoom:1; }
	#sbox-window { position:absolute; background-color:#FFF; text-align:left; overflow:visible; padding:10px; -moz-border-radius:3px; -webkit-border-radius:3px; }
	#sbox-btn-close { position:absolute; width:30px; height:30px; right:-15px; top:-15px; background:url(../img/squeezebox/closebox.png) no-repeat center; border:none; }
	.sbox-window-ie6 #sbox-btn-close { background-image:url(../img/squeezebox/closebox.gif); }
	.sbox-loading #sbox-content { background-image:url(../img/squeezebox/spinner.gif); background-repeat:no-repeat; background-position:center; }
	#sbox-content { clear:both; overflow:auto; background-color:#FFF; height:100%; width:100%; }
	.sbox-content-image#sbox-content { overflow:visible; }
	#sbox-image { display:block; }
	.sbox-content-image img { display:block; width:100%; height:100%; }
	.sbox-content-iframe#sbox-content { overflow:visible; }
	.body-overlayed { overflow:hidden; }
	.body-overlayed embed, .body-overlayed object, .body-overlayed select { visibility:hidden; }
	#sbox-window embed, #sbox-window object, #sbox-window select { visibility:visible; }
	.sbox-bg { position:absolute; width:33px; height:40px; }
	.sbox-bg-n { left:0; top:-40px; width:100%; background:url(../img/squeezebox/bg_n.png) repeat-x; }
	.sbox-bg-ne { right:-33px; top:-40px; background:url(../img/squeezebox/bg_ne.png) no-repeat; }
	.sbox-bg-e { right:-33px; top:0; height:100%; background:url(../img/squeezebox/bg_e.png) repeat-y; }
	.sbox-bg-se { right:-33px; bottom:-40px; background:url(../img/squeezebox/bg_se.png) no-repeat; }
	.sbox-bg-s { left:0; bottom:-40px; width:100%; background:url(../img/squeezebox/bg_s.png) repeat-x; }
	.sbox-bg-sw { left:-33px; bottom:-40px; background:url(../img/squeezebox/bg_sw.png) no-repeat; }
	.sbox-bg-w { left:-33px; top:0; height:100%; background:url(../img/squeezebox/bg_w.png) repeat-y; }
	.sbox-bg-nw { left:-33px; top:-40px; background:url(../img/squeezebox/bg_nw.png) no-repeat; }


	/**
	 * Handliche Allgemeine Klassen
	 * @subsection screen-classes-common
	 */
	.nmtop { margin-top:-8px; padding-top:0; }
	.icon { position:relative; top:2px; left:2px; }
	.slim { font-weight:normal; }
	.dark .highlight { color:#ecdfbb; }
	img.icon { position:relative; top:0.1em; }
	p.clearfix { margin-bottom:8px; }
	.clearfix:after { content:"."; display:block; width:100%; clear:both; height:0; visibility:hidden; }
	.clear { display:block; clear:both; }
	.cl { display:block; clear:left; }
	.cr { display:block; clear:right; }
	.left { text-align:left !important; display:block; }
	.right { text-align:right !important; display:block; }
	.aleft { text-align:left; }
	.aright { text-align:right; }
	.center { text-align:center; display:block; }
	.fl { float:left; }
	.fl-margin { float:left; margin:0 16px 0 8px; }
	.fr { float:right; }
	.fr-margin { float:right; margin:0 8px 0 16px; }
	.smalltext { font-size:0.8em; }
	.imagereplace span { display:block; height:0; width:0; overflow:hidden; }
	a.imagelink { border:none !important; }
	.nolist { list-style:none; padding:4px 16px; }
	.nobr { white-space:nowrap; }
	.hidden { display:none; }
	.inline { display:inline; }


	/**
	 * IE8-Hacks
	 * @subsection screen-ie8
	 * @bugfix
	 * @affected ie8
	 */
	#ie8 {  }


	/**
	 * IE7-Hacks
	 * @subsection screen-ie7
	 * @bugfix
	 * @affected ie7
	 */
	#ie7 h1 a { position:relative; z-index:1337; } /* Macht das Logo anklickbar */
	#ie7 #countdown { zoom:1; }
		#ie7 #countdown div.countdown-product { margin-bottom:-8px; }
	#ie7 h2, #ie7 h3, ie7 h4 { font-weight:normal; }
	#ie7 #side #categories .layered-nav ol { list-style:none; } /* Zeigt sonst Nummern in der Filternavi */
	#ie7 #page { /*position:relative; z-index:-1;*/ } /* Repariert die z-index-Probleme LÖST DIE CARTBUTTON-PROBLEME AUS! */
	#ie7 #header { z-index:1337; } /* Löst das z-index-Problem ohne Nebenwirkungen */
	#ie7 .product-box { zoom:1; } /* Sorgt für die richtige Höhe der Produktboxen */
	#ie7 #topbox div.slidecontainer { overflow:hidden !important; } /* Behebt ein Overflow-Problem in der Warenkorb-Box */
	#ie7 .clearfix { display:inline-block; }
	#ie7 table { border-collapse:collapse; } /* Ersatz für fehlende Cellspacing/Cellpadding-Angaben im HTML */
	#ie7 #navi li ul { display:none !important; } /* Hoffnungslos */
	#ie7 #addTagForm button { zoom:1; position:relative; } /* Verhindert ein Verrutschen des Buttons nach dem Seiten-Resize */
	#ie7 span.zoomBoxDragText { display:none; } /* Zoombox läuft nicht im IE7 */
	#ie7 ul.messages > li { margin-bottom:-28px !important; }
		#ie7 ul.messages ul.replaced li cufon { margin-top:-36px; }
	#ie7 #product_sendtofriend_form button { margin-left:8px; } /* Buttons bei "E-Mail an einen Freund" haben zu wenig Abstand */
	#ie7 .product-view #product-attribute-specs dt { float:left; display:block; width:40%; clear:none; }
	#ie7 .product-view #product-attribute-specs dd { float:left; display:block; width:60%; clear:none; }
	#ie7 .button { white-space:nowrap; }


	/**
	 * IE6-Hacks
	 * @subsection screen-ie6
	 * @bugfix
	 * @affected ie6
	 */
	#ie6 {  }
	#ie6 img.icon { behavior:url(htcmime.php?file=/js/iepngfix.htc); }
	#ie6 .clearfix { display:inline-block; }

}


/* Opera-Hacks */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
	head~body .button .button-replaced { display:inline-block; padding:2px 0; }
	head~body input, head~body select, head~body textarea { font-size:12px; padding-top:5px; padding-bottom:6px; }
	
}
