#Turn ETagging off
FileETag none

#Turn ETagging on for Booster PHP files
<FilesMatch "booster_.+\.php$">  
FileETag MTime Size

#Give access even if webmaster has globally forbidden access
Order deny,allow
Allow from all
Satisfy any
</FilesMatch>

#Let the Booster PHP files appear queryless for proxies by rewriting URL
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^booster_css\.php/(dir.*)$ booster_css.php?$1 [L]
RewriteRule ^booster_css_ie\.php/(dir.*)$ booster_css_ie.php?$1 [L]
RewriteRule ^booster_js\.php/(dir.*)$ booster_js.php?$1 [L]
RewriteRule ^booster_mhtml\.php/(dir.*)$ booster_mhtml.php?$1 [L]
</IfModule>
<IfModule mod_rewrite.so>
RewriteEngine on
RewriteRule ^booster_css\.php/(dir.*)$ booster_css.php?$1 [L]
RewriteRule ^booster_css_ie\.php/(dir.*)$ booster_css_ie.php?$1 [L]
RewriteRule ^booster_js\.php/(dir.*)$ booster_js.php?$1 [L]
RewriteRule ^booster_mhtml\.php/(dir.*)$ booster_mhtml.php?$1 [L]
</IfModule>

#Force caching of some common files for some time in the browser's cache, to save bandwidth.
#"Mod_expires" needs to be installed in your Apache server, to use this feature.
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 years"
</IfModule>
<IfModule mod_expires.so>
  ExpiresActive On
  ExpiresDefault "access plus 1 years"
</IfModule>


#Alternative caching using Apache's "mod_headers", if it's installed.
#Caching of common files - ENABLED

<IfModule mod_headers.c>
  Header set Cache-Control "max-age=2592000, public"

#Remove comments, to disable video caching to the user's browser
#  <FilesMatch "\.(flv|wmv|avi|mpg|3gp|rm|mpeg|mp4|qt|mov|divx|xvid|wmv|asf|dat|xml)$">
#    Header set Cache-Control "max-age=0, public"
#  </FilesMatch>

</IfModule>
<IfModule mod_headers.so>
  Header set Cache-Control "max-age=2592000, public"

#Remove comments, to disable video caching to the user's browser
#  <FilesMatch "\.(flv|wmv|avi|mpg|3gp|rm|mpeg|mp4|qt|mov|divx|xvid|wmv|asf|dat|xml)$">
#    Header set Cache-Control "max-age=0, public"
#  </FilesMatch>

</IfModule>
